BODY {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #4c4542; MARGIN: 0px; FONT-FAMILY: "ו"
}
#hei {
	FONT-FAMILY: "ו"; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:link {
	COLOR: #ffffff; FONT-SIZE: 14px
}
A:visited {
	COLOR: #ffffff; FONT-SIZE: 14px
}
A:hover {
	TEXT-DECORATION: underline
}
